.breadcrumbs-list{
	font-size: 0;
	margin-bottom: 21px;
}
.breadcrumbs-item{
	display: inline-block;
	vertical-align:top;
	margin-right: 3px;
}
.breadcrumbs-link{
	position:relative;
	font-size: 14px;
	padding-right:12px;
	line-height: 14px;

	&:after{
		content: '>';
		position:absolute;
		top:2px;
		right:0;
		display: block;
	}

	&.breadcrumbs-link-active{
		color:$color-orange;
		padding:0;
		text-decoration:underline;

		&:after{
			display:none;
		}
	
	}		
}




