// Верхний блок хеадер с иконками
.contacts{
	background-color: #fff;
	box-shadow: 0 2px #ebedef;
	padding-top: 25px;
	padding-bottom: 26px;
}


// Социальные иконки
.socials{
	float:left;
}

.socials-item{
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;

	&:last-child{
		margin-right: 0px;
	}
}

.socials-link{
	display: block;
	border-radius: 50%;
	width: 26px;
	height: 26px;
}


.socials-link-fb{
	@include sprite($fb);
		&:hover{
			@include sprite($fb-hover);
		}
}
.socials-link-vk{
	@include sprite($vk);
		&:hover{
			@include sprite($vk-hover);
		}
}
.socials-link-tw{
	@include sprite($tw);
		&:hover{
			@include sprite($tw-hover);
		}
}

/********************/

// Небольшая инфа адрес и телефон компании

.contacts-info{
	float:right;
}

.addres,.phone{
	display: inline-block;
	vertical-align: top;
}
.icon-addres,.icon-phone{
	display:inline-block;
	vertical-align:middle;
	margin-right:13px;
}
.phone{
	margin-left: 85px;
}

.addres-text{
	font-size: 14px;
	line-height: 16px;
	display:inline-block;
	vertical-align:middle;
}
.phone-text{
	display:inline-block;
	vertical-align:middle;
	font-size: 18px;
	line-height: 20px;
	font-family: 'open_sanssemibold';
	font-weight: 600;
}
/***************************************/


// Логотип и поиск по сайту
.block-find{
	padding-top: 32px;
	font-size: 0;
	margin-bottom: 28px;
}
// Логотип
.logo{
	display: block;
	float: left;
	margin-right: 56px;
	padding: 0;
}
.logo-img{
	width: 238px;
	height: 36px;
}
.logo-text{
	position: absolute;
	top:0;
	left: -9999px;
}
// Поиск
.search{
	float: left;
	margin-right: 49px;
	font-size: 0;
}
.search-input{
	border-radius: 3px;
	background-color: rgba(255,255,255,.6);
	border: solid 1px #dee1e4;
	font-size: 14px;
	line-height: 32px;
	width: 298px;
	padding-left: 17px;
	padding-right: 11px;
	font-weight: 300;
}
// Кнопка поиска
.search-btn{
	font-size: 16px;
	width: 80px;
	height: 34px;
	line-height: 34px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -10px;
	color:$color-white;
	border-radius: 0 3px 3px 0;
	background-color: $color-orange;
	font-weight: 600;
}

// Небольшое пользовательсоке меню
.user-nav{
	float: left;
	font-size: 0;
}
.user-nav-item{
	display: inline-block;
	vertical-align:top;
	margin-right: 38px;

	&:last-child{
		margin-right: 0;
	}
}
.user-nav-link{

	position:relative;
	font-size: 16px;
	line-height: 34px;
	font-weight: 600;
	text-decoration:underline;

	&.user-nav-link-active{
		color: $color-orange;
	}

	&:hover{
		color: $color-orange;
	}

}


// Основное меню
.nav{
	background-color: #fff;
	box-shadow: 0 2px #ebedef;
	margin-bottom: 33px;
}
.main-nav{
	font-size: 0;
	padding: 0 11px;
	padding-right: 0;
}
.main-nav-item{
	display: inline-block;
	vertical-align:top;
}
.main-nav-link{
	display: inline-block;
	vertical-align:top;
	line-height: 52px;
	font-size: 16px;
	padding: 0 13px;
	color:#333333;
	font-weight: 600;

	&:hover{
		background-color: #e4e2e2;
	}
	
	&.main-nav-link-active{
		background:$color-orange;
		color:$color-white;
	}
}



