.products{
	margin-bottom: 20px;
}

.products-list{
	border: 1px solid $ac-border;
	border-radius:5px;
	background: $color-white;
	// overflow :hidden;
	margin-bottom: 66px;
}
.products-item{
	border-top:1px solid $ac-border;

	&:first-child {
		border-top:none;
	}

	&:hover{
		box-shadow: 0px 1px 7px rgba(119, 119, 119, 0.75);
	}
}

.products-item-inner{
	padding: 19px 22px;
	padding-bottom: 14px;
	position:relative;
}

.products-left{
	float:left;
}

.products-slideshow{
	width:140px;
	float:left;
}

.products-slideshow-block{
	margin-bottom: 4px;
}
.products-slideshow-display{
	position:relative;
	display: block;
	width: 134px;
	height:134px;
	border: 1px solid $ac-border;
	background: $color-swhite;

	margin-bottom: 18px;
	border-radius:1px;
}

.products-slideshow-img{
	display: block;
	position:absolute;
	top:50%;
	left:50%;
	max-width:95%;
	max-height:95%;
	transform:translate(-50%,-50%);
}

.products-slideshow-icons{
	margin-left: -16px;
}

.products-slideshow-item{
	float:left;
	margin-left: 16px;
}

.products-slideshow-link{
	@extend .products-slideshow-display;
	width: 34px;
	height:34px;

	margin-bottom: 0;

	&:hover{
		border-color:$color-orange;
	}

	&.products-slideshow-link-active{
		border-color:$color-orange;
	}

}
.products-slideshow-icon-img{
	@extend .products-slideshow-img;

	max-width:85%;
	max-height:85%;


}

.products-article{
	text-align:center;
}

.products-article-word{
	display: inline-block;
	vertical-align:middle;
	font-size: 12px;
	line-height: 16px;
	color:#7f7f7f;
	font-weight: 600;
}

.products-article-num{
	display: inline-block;
	vertical-align:middle;
	font-size: 14px;
	line-height: 16px;
	color:$color-black;
	font-weight: 600;
}

// Описание товара
.products-desc{
	float:left;
	width: 380px;
	margin-left: 21px;
}
.products-desc-title{
	font-size: 16px;
	line-height: 18px;
	color: $color-black;
	margin-bottom: 20px;
	padding-top: 7px;
	font-weight: 600;
}

.products-desc-options{
	margin-bottom: 14px;
}

.products-option-i{
	display: inline;
	font-size: 14px;
	line-height: 16px;
}
.products-option-value{
	display: inline;
	font-size: 14px;
	line-height: 16px;
}
.products-option-about{

	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
}
.products-option-item{
	display: inline-block;
	display: none;
}

// Рейтинг
.products-rating-stars{
	display: inline-block;
	vertical-align:top;
}
.products-rating-stars-item{
	display: inline-block;
	vertical-align:top;
	@include sprite($stars);

	&.products-rating-stars-item-filed{
		@include sprite($star-filed);
	}
}
.products-rating-amount{
	width: 30px;
	height:15px;
	padding-top: 2px;
	display: inline-block;
	vertical-align:top;
	line-height: 12px;
	font-size: 12px;
	background:#b5beca;
	border-radius:9px;
	margin-left: 7px;
	text-align:center;
	color:$color-swhite;
}

.products-right{
	position:absolute;
	top:23px;
	bottom:19px;
	right:23px;
	width: 131px;
	text-align:right;
}
.products-info{
	padding-left: 25px;
	border-left:1px solid $ac-border;
	height:100%;

}
.products-price{
	
	font-size: 20px;
	line-height: 22px;
	font-weight:bold;
}

.products-info-bottom{
	position:absolute;
	bottom:0;
	right: 2px;
}
.products-buy-btn{
	display: inline-block;
	vertical-align:middle;
	width: 103px;

	border-radius:5px;
	text-align:center;
	font-size: 14px;
	line-height: 32px;
	color: $color-white;
	background: $color-orange;
	margin-bottom: 6px;
	font-weight: 700;
}

.products-available{
	font-size: 12px;
	line-height: 14px;
	color: #7f7f7f;
	font-weight: 700;

	&:before{
		content:'';
		display: inline-block;
		vertical-align:middle;
		width: 7px;
		height:7px;
		border-radius:50%;
		background: #60ac49;
		margin-right: 8px;

	}
}

// Переключатели страниц товаров

.pag{
	text-align:right;
}
.pag-list{
	font-size: 0;
}
.pag-item{
	display: inline-block;
	vertical-align:top;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	border: 1px solid $ac-border;
	overflow:hidden;
	margin-left: 4px;
}

.pag-link{
	display:block;
	width: 100%;
	height: 100%;
	
	background:$color-swhite;
	text-align:center;

	&:hover{
		background:#e0e0e0;
	}

	&.active{
		background:#e0e0e0;
	}
}
.pag-mark{
	position:relative;
	line-height: 26px;
	font-size: 12px;
	font-style:bold;

	&.pag-mark-left{

		&:before{
			transform:translateX(-50%);
			content:'<';
		}
	}

	&.pag-mark-right{

		&:before{
			transform:translateX(-50%);
			content:'>';
		}
	}
}


// Другие виды

@import "../view/view-grid";
@import "../view/view-line";