.block-view{
	background:#e4ebee;
	border:1px solid $ac-border;
	border-radius:5px;
	margin-bottom: 20px;
}


.block-view_left{
	float:left;
	width: 291px;
	margin-top: 14px;
	margin-left: 22px;

}

.block-view-title{
	display:inline-block;
	vertical-align:top;
	font-size: 14px;
	line-height: 16px;
	color:#5d656c;
	margin-right: 10px;
}

.block-view_right{
	float:right;
	width: 300px;
	text-align:right;

	.block-view-title{
		margin-top: 18px;
		margin-right:21px;
	}
}

.select-content{
	display:inline-block;
	vertical-align:top;
	width: 140px;
}

.sort-content{
	display: inline-block;
	vertical-align:middle;
	font-size: 0;
}
.sort-content-item{
	display: inline-block;
	vertical-align:top;
	border-left:1px solid $ac-border;
	width: 50px;
	height:50px;
}
.sort-content-link{
	display: block;
	position:relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
}


.icon-row{
	@include sprite($view-row);

	&.active{
		@include sprite($view-row-active);
	}

	&:hover{
		@include sprite($view-row-active);
	}
}

.icon-grid{
	@include sprite($view-grid);

	&.active{
		@include sprite($view-grid-active);
	}

	&:hover{
		@include sprite($view-grid-active);
	}

}
.icon-line{
	@include sprite($view-line);

	&.active{
		@include sprite($view-line-active);
	}

	&:hover{
		@include sprite($view-line-active);
	}
}
$view: row, grid, line;

@each $item in $view{
	.sort-content-#{$item}{
		&:hover{
			.icon-line{@include sprite($view-line-active);};
			.icon-grid{@include sprite($view-grid-active);};
			.icon-row{@include sprite($view-row-active);};
		}
		
	}
}

// Select2
.select2-container{
	width: 143px !important;
	padding-left:0 !important;
	margin-top: -4px !important;
	font-size: 14px;
	
	* {

		outline:none !important;
	}

	.select2-selection__arrow{

		b{
			@include sprite($select-bottom);

			height: 9px !important;
			width:  13px !important;
			border: 0 none !important;
			margin: auto !important;
			top:0 !important;
			left:0 !important; 
			bottom: 0 !important;
			right : 4px !important;
		}
	}

	&.select2-container--open {
		b{
			@include sprite($select-top);

			height: 9px !important;
			width:  13px !important;
			border: 0 none !important;
			margin: auto !important;
			top:0 !important;
			left:0 !important; 
			bottom: 0 !important;
			right :0 !important;
		}
	
	}


	.select2-selection__rendered{
		font-size: 14px !important;
		color:#7f7f7f !important;
		margin-left:-3px !important;
		padding:0 16px !important;
		margin-top: -3px !important;
	}

	.select2-dropdown{
		margin-top: 1.5px;
		box-shadow: 0 1px 5px rgba(134,134,134,.75);
		border-radius: 4px;
		background-color: #fff;
		overflow:hidden;

		.select2-results__options{
			font-size: 14px;
			line-height: 16px;
			background:white;

			
			.select2-results__option{
				color:#333 !important;
				font-weight: bold;
			}
			.select2-results__option--highlighted{
				color:#7f7f7f !important;
				font-weight: normal
				
			}
		}

	}


}





