/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$addres-name: 'addres';
$addres-x: 0px;
$addres-y: 181px;
$addres-offset-x: 0px;
$addres-offset-y: -181px;
$addres-width: 12px;
$addres-height: 16px;
$addres-total-width: 205px;
$addres-total-height: 197px;
$addres-image: '../imgs/sprites/sprite.png';
$addres: (0px, 181px, 0px, -181px, 12px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'addres', );
$bac-name: 'bac';
$bac-x: 0px;
$bac-y: 0px;
$bac-offset-x: 0px;
$bac-offset-y: 0px;
$bac-width: 119px;
$bac-height: 119px;
$bac-total-width: 205px;
$bac-total-height: 197px;
$bac-image: '../imgs/sprites/sprite.png';
$bac: (0px, 0px, 0px, 0px, 119px, 119px, 205px, 197px, '../imgs/sprites/sprite.png', 'bac', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 19px;
$checkbox-active-y: 162px;
$checkbox-active-offset-x: -19px;
$checkbox-active-offset-y: -162px;
$checkbox-active-width: 19px;
$checkbox-active-height: 19px;
$checkbox-active-total-width: 205px;
$checkbox-active-total-height: 197px;
$checkbox-active-image: '../imgs/sprites/sprite.png';
$checkbox-active: (19px, 162px, -19px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'checkbox-active', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 38px;
$checkbox-hover-y: 162px;
$checkbox-hover-offset-x: -38px;
$checkbox-hover-offset-y: -162px;
$checkbox-hover-width: 19px;
$checkbox-hover-height: 19px;
$checkbox-hover-total-width: 205px;
$checkbox-hover-total-height: 197px;
$checkbox-hover-image: '../imgs/sprites/sprite.png';
$checkbox-hover: (38px, 162px, -38px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'checkbox-hover', );
$checkbox-name: 'checkbox';
$checkbox-x: 76px;
$checkbox-y: 162px;
$checkbox-offset-x: -76px;
$checkbox-offset-y: -162px;
$checkbox-width: 19px;
$checkbox-height: 19px;
$checkbox-total-width: 205px;
$checkbox-total-height: 197px;
$checkbox-image: '../imgs/sprites/sprite.png';
$checkbox: (76px, 162px, -76px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'checkbox', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 162px;
$fb-hover-y: 95px;
$fb-hover-offset-x: -162px;
$fb-hover-offset-y: -95px;
$fb-hover-width: 26px;
$fb-hover-height: 26px;
$fb-hover-total-width: 205px;
$fb-hover-total-height: 197px;
$fb-hover-image: '../imgs/sprites/sprite.png';
$fb-hover: (162px, 95px, -162px, -95px, 26px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 162px;
$fb-y: 121px;
$fb-offset-x: -162px;
$fb-offset-y: -121px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 205px;
$fb-total-height: 197px;
$fb-image: '../imgs/sprites/sprite.png';
$fb: (162px, 121px, -162px, -121px, 26px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'fb', );
$footer-fb-hover-name: 'footer-fb-hover';
$footer-fb-hover-x: 0px;
$footer-fb-hover-y: 119px;
$footer-fb-hover-offset-x: 0px;
$footer-fb-hover-offset-y: -119px;
$footer-fb-hover-width: 43px;
$footer-fb-hover-height: 43px;
$footer-fb-hover-total-width: 205px;
$footer-fb-hover-total-height: 197px;
$footer-fb-hover-image: '../imgs/sprites/sprite.png';
$footer-fb-hover: (0px, 119px, 0px, -119px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-fb-hover', );
$footer-fb-name: 'footer-fb';
$footer-fb-x: 43px;
$footer-fb-y: 119px;
$footer-fb-offset-x: -43px;
$footer-fb-offset-y: -119px;
$footer-fb-width: 43px;
$footer-fb-height: 43px;
$footer-fb-total-width: 205px;
$footer-fb-total-height: 197px;
$footer-fb-image: '../imgs/sprites/sprite.png';
$footer-fb: (43px, 119px, -43px, -119px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-fb', );
$footer-tw-hover-name: 'footer-tw-hover';
$footer-tw-hover-x: 86px;
$footer-tw-hover-y: 119px;
$footer-tw-hover-offset-x: -86px;
$footer-tw-hover-offset-y: -119px;
$footer-tw-hover-width: 43px;
$footer-tw-hover-height: 43px;
$footer-tw-hover-total-width: 205px;
$footer-tw-hover-total-height: 197px;
$footer-tw-hover-image: '../imgs/sprites/sprite.png';
$footer-tw-hover: (86px, 119px, -86px, -119px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-tw-hover', );
$footer-tw-name: 'footer-tw';
$footer-tw-x: 119px;
$footer-tw-y: 0px;
$footer-tw-offset-x: -119px;
$footer-tw-offset-y: 0px;
$footer-tw-width: 43px;
$footer-tw-height: 43px;
$footer-tw-total-width: 205px;
$footer-tw-total-height: 197px;
$footer-tw-image: '../imgs/sprites/sprite.png';
$footer-tw: (119px, 0px, -119px, 0px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-tw', );
$footer-vk-hover-name: 'footer-vk-hover';
$footer-vk-hover-x: 162px;
$footer-vk-hover-y: 0px;
$footer-vk-hover-offset-x: -162px;
$footer-vk-hover-offset-y: 0px;
$footer-vk-hover-width: 43px;
$footer-vk-hover-height: 43px;
$footer-vk-hover-total-width: 205px;
$footer-vk-hover-total-height: 197px;
$footer-vk-hover-image: '../imgs/sprites/sprite.png';
$footer-vk-hover: (162px, 0px, -162px, 0px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-vk-hover', );
$footer-vk-name: 'footer-vk';
$footer-vk-x: 119px;
$footer-vk-y: 43px;
$footer-vk-offset-x: -119px;
$footer-vk-offset-y: -43px;
$footer-vk-width: 43px;
$footer-vk-height: 43px;
$footer-vk-total-width: 205px;
$footer-vk-total-height: 197px;
$footer-vk-image: '../imgs/sprites/sprite.png';
$footer-vk: (119px, 43px, -119px, -43px, 43px, 43px, 205px, 197px, '../imgs/sprites/sprite.png', 'footer-vk', );
$hundle-name: 'hundle';
$hundle-x: 194px;
$hundle-y: 147px;
$hundle-offset-x: -194px;
$hundle-offset-y: -147px;
$hundle-width: 8px;
$hundle-height: 14px;
$hundle-total-width: 205px;
$hundle-total-height: 197px;
$hundle-image: '../imgs/sprites/sprite.png';
$hundle: (194px, 147px, -194px, -147px, 8px, 14px, 205px, 197px, '../imgs/sprites/sprite.png', 'hundle', );
$i-down-name: 'i-down';
$i-down-x: 132px;
$i-down-y: 162px;
$i-down-offset-x: -132px;
$i-down-offset-y: -162px;
$i-down-width: 18px;
$i-down-height: 11px;
$i-down-total-width: 205px;
$i-down-total-height: 197px;
$i-down-image: '../imgs/sprites/sprite.png';
$i-down: (132px, 162px, -132px, -162px, 18px, 11px, 205px, 197px, '../imgs/sprites/sprite.png', 'i-down', );
$i-up-name: 'i-up';
$i-up-x: 114px;
$i-up-y: 162px;
$i-up-offset-x: -114px;
$i-up-offset-y: -162px;
$i-up-width: 18px;
$i-up-height: 11px;
$i-up-total-width: 205px;
$i-up-total-height: 197px;
$i-up-image: '../imgs/sprites/sprite.png';
$i-up: (114px, 162px, -114px, -162px, 18px, 11px, 205px, 197px, '../imgs/sprites/sprite.png', 'i-up', );
$phone-name: 'phone';
$phone-x: 145px;
$phone-y: 145px;
$phone-offset-x: -145px;
$phone-offset-y: -145px;
$phone-width: 12px;
$phone-height: 16px;
$phone-total-width: 205px;
$phone-total-height: 197px;
$phone-image: '../imgs/sprites/sprite.png';
$phone: (145px, 145px, -145px, -145px, 12px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'phone', );
$radio-active-name: 'radio-active';
$radio-active-x: 0px;
$radio-active-y: 162px;
$radio-active-offset-x: 0px;
$radio-active-offset-y: -162px;
$radio-active-width: 19px;
$radio-active-height: 19px;
$radio-active-total-width: 205px;
$radio-active-total-height: 197px;
$radio-active-image: '../imgs/sprites/sprite.png';
$radio-active: (0px, 162px, 0px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'radio-active', );
$radio-hover-name: 'radio-hover';
$radio-hover-x: 95px;
$radio-hover-y: 162px;
$radio-hover-offset-x: -95px;
$radio-hover-offset-y: -162px;
$radio-hover-width: 19px;
$radio-hover-height: 19px;
$radio-hover-total-width: 205px;
$radio-hover-total-height: 197px;
$radio-hover-image: '../imgs/sprites/sprite.png';
$radio-hover: (95px, 162px, -95px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'radio-hover', );
$radio-name: 'radio';
$radio-x: 57px;
$radio-y: 162px;
$radio-offset-x: -57px;
$radio-offset-y: -162px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 205px;
$radio-total-height: 197px;
$radio-image: '../imgs/sprites/sprite.png';
$radio: (57px, 162px, -57px, -162px, 19px, 19px, 205px, 197px, '../imgs/sprites/sprite.png', 'radio', );
$select-bottom-name: 'select-bottom';
$select-bottom-x: 189px;
$select-bottom-y: 59px;
$select-bottom-offset-x: -189px;
$select-bottom-offset-y: -59px;
$select-bottom-width: 13px;
$select-bottom-height: 9px;
$select-bottom-total-width: 205px;
$select-bottom-total-height: 197px;
$select-bottom-image: '../imgs/sprites/sprite.png';
$select-bottom: (189px, 59px, -189px, -59px, 13px, 9px, 205px, 197px, '../imgs/sprites/sprite.png', 'select-bottom', );
$select-top-name: 'select-top';
$select-top-x: 189px;
$select-top-y: 85px;
$select-top-offset-x: -189px;
$select-top-offset-y: -85px;
$select-top-width: 13px;
$select-top-height: 9px;
$select-top-total-width: 205px;
$select-top-total-height: 197px;
$select-top-image: '../imgs/sprites/sprite.png';
$select-top: (189px, 85px, -189px, -85px, 13px, 9px, 205px, 197px, '../imgs/sprites/sprite.png', 'select-top', );
$star-filed-name: 'star-filed';
$star-filed-x: 162px;
$star-filed-y: 147px;
$star-filed-offset-x: -162px;
$star-filed-offset-y: -147px;
$star-filed-width: 16px;
$star-filed-height: 15px;
$star-filed-total-width: 205px;
$star-filed-total-height: 197px;
$star-filed-image: '../imgs/sprites/sprite.png';
$star-filed: (162px, 147px, -162px, -147px, 16px, 15px, 205px, 197px, '../imgs/sprites/sprite.png', 'star-filed', );
$stars-name: 'stars';
$stars-x: 178px;
$stars-y: 147px;
$stars-offset-x: -178px;
$stars-offset-y: -147px;
$stars-width: 16px;
$stars-height: 15px;
$stars-total-width: 205px;
$stars-total-height: 197px;
$stars-image: '../imgs/sprites/sprite.png';
$stars: (178px, 147px, -178px, -147px, 16px, 15px, 205px, 197px, '../imgs/sprites/sprite.png', 'stars', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 129px;
$tw-hover-y: 119px;
$tw-hover-offset-x: -129px;
$tw-hover-offset-y: -119px;
$tw-hover-width: 26px;
$tw-hover-height: 26px;
$tw-hover-total-width: 205px;
$tw-hover-total-height: 197px;
$tw-hover-image: '../imgs/sprites/sprite.png';
$tw-hover: (129px, 119px, -129px, -119px, 26px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 119px;
$tw-y: 86px;
$tw-offset-x: -119px;
$tw-offset-y: -86px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 205px;
$tw-total-height: 197px;
$tw-image: '../imgs/sprites/sprite.png';
$tw: (119px, 86px, -119px, -86px, 26px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'tw', );
$view-grid-active-name: 'view-grid-active';
$view-grid-active-x: 189px;
$view-grid-active-y: 43px;
$view-grid-active-offset-x: -189px;
$view-grid-active-offset-y: -43px;
$view-grid-active-width: 16px;
$view-grid-active-height: 16px;
$view-grid-active-total-width: 205px;
$view-grid-active-total-height: 197px;
$view-grid-active-image: '../imgs/sprites/sprite.png';
$view-grid-active: (189px, 43px, -189px, -43px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-grid-active', );
$view-grid-name: 'view-grid';
$view-grid-x: 188px;
$view-grid-y: 121px;
$view-grid-offset-x: -188px;
$view-grid-offset-y: -121px;
$view-grid-width: 16px;
$view-grid-height: 16px;
$view-grid-total-width: 205px;
$view-grid-total-height: 197px;
$view-grid-image: '../imgs/sprites/sprite.png';
$view-grid: (188px, 121px, -188px, -121px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-grid', );
$view-line-active-name: 'view-line-active';
$view-line-active-x: 145px;
$view-line-active-y: 86px;
$view-line-active-offset-x: -145px;
$view-line-active-offset-y: -86px;
$view-line-active-width: 16px;
$view-line-active-height: 16px;
$view-line-active-total-width: 205px;
$view-line-active-total-height: 197px;
$view-line-active-image: '../imgs/sprites/sprite.png';
$view-line-active: (145px, 86px, -145px, -86px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-line-active', );
$view-line-name: 'view-line';
$view-line-x: 129px;
$view-line-y: 145px;
$view-line-offset-x: -129px;
$view-line-offset-y: -145px;
$view-line-width: 16px;
$view-line-height: 16px;
$view-line-total-width: 205px;
$view-line-total-height: 197px;
$view-line-image: '../imgs/sprites/sprite.png';
$view-line: (129px, 145px, -129px, -145px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-line', );
$view-row-active-name: 'view-row-active';
$view-row-active-x: 188px;
$view-row-active-y: 95px;
$view-row-active-offset-x: -188px;
$view-row-active-offset-y: -95px;
$view-row-active-width: 16px;
$view-row-active-height: 16px;
$view-row-active-total-width: 205px;
$view-row-active-total-height: 197px;
$view-row-active-image: '../imgs/sprites/sprite.png';
$view-row-active: (188px, 95px, -188px, -95px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-row-active', );
$view-row-name: 'view-row';
$view-row-x: 189px;
$view-row-y: 69px;
$view-row-offset-x: -189px;
$view-row-offset-y: -69px;
$view-row-width: 16px;
$view-row-height: 16px;
$view-row-total-width: 205px;
$view-row-total-height: 197px;
$view-row-image: '../imgs/sprites/sprite.png';
$view-row: (189px, 69px, -189px, -69px, 16px, 16px, 205px, 197px, '../imgs/sprites/sprite.png', 'view-row', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 162px;
$vk-hover-y: 43px;
$vk-hover-offset-x: -162px;
$vk-hover-offset-y: -43px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 205px;
$vk-hover-total-height: 197px;
$vk-hover-image: '../imgs/sprites/sprite.png';
$vk-hover: (162px, 43px, -162px, -43px, 27px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 162px;
$vk-y: 69px;
$vk-offset-x: -162px;
$vk-offset-y: -69px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 205px;
$vk-total-height: 197px;
$vk-image: '../imgs/sprites/sprite.png';
$vk: (162px, 69px, -162px, -69px, 27px, 26px, 205px, 197px, '../imgs/sprites/sprite.png', 'vk', );
$spritesheet-width: 205px;
$spritesheet-height: 197px;
$spritesheet-image: '../imgs/sprites/sprite.png';
$spritesheet-sprites: ($addres, $bac, $checkbox-active, $checkbox-hover, $checkbox, $fb-hover, $fb, $footer-fb-hover, $footer-fb, $footer-tw-hover, $footer-tw, $footer-vk-hover, $footer-vk, $hundle, $i-down, $i-up, $phone, $radio-active, $radio-hover, $radio, $select-bottom, $select-top, $star-filed, $stars, $tw-hover, $tw, $view-grid-active, $view-grid, $view-line-active, $view-line, $view-row-active, $view-row, $vk-hover, $vk, );
$spritesheet: (205px, 197px, '../imgs/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
