.icon{
	background-image: url($spritesheet-image);
}
.icon-i{
	display: inline-block;
	vertical-align:top;	
}
.icon-b{
	display:block;
}

.icon-phone{
	width: $phone-width;
	height : $phone-height;
	@include sprite-position($phone);
}

.icon-addres{
	width: $addres-width;
	height : $addres-height;
	@include sprite-position($addres);
}

.icon-view{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -8px;
	margin-left: -8px;
	// transform:translate(-50%,-50%);
	margin-top: -8px;
	margin-left: -8px;
}

