.container
		ul.breadcrumbs-list
			-var bread = ['Главная','Каталог']
			each item,i in bread
				li.breadcrumbs-item
					if i == bread.length-1
						a(href="index.html" class="breadcrumbs-link").breadcrumbs-link_active=item
					else
						a(href="#" class="breadcrumbs-link")=item