.column
	.main-title Важная информация
	.column-text
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda obcaecati, illum corporis. Dolorem facere tempora laborum, architecto nemo corporis quas perspiciatis ea veniam, quod id a? Veritatis, ducimus, officiis.