header.main-header
	.contacts
		.container.clearfix
			ul.socials
				- var socials = ['fb','vk','tw']
				each item in socials
					li.socials_item
						a(href="#" class="socials_link_#{item}").socials_link
			.contacts-info				
				.addres 
					i.icon.icon-i.icon-addres
					span.addres-text ул. Маяковская 6, офис 17
				a(href="#").phone
					i.icon.icon-i.icon-phone
					span.phone-text +7 (921) 123-12-13
	.container.clearfix.block-find
		a(href="index.html").logo
			img(src="imgs/content/logo.png", alt="logo").log-img
			h1.logo-text Cooltech
		.search
			input(type="text", name="find" placeholder="Что будем искать").search-input
			button(type="submit").search-btn Найти
		ul.user-nav
			- var usernav = {'map':'Карта проезда','history':'История заказов','box':'Корзина'}
			each item,i in usernav
				li.user-nav_item
					if i=='map'
						a(href="#" class="user-nav_link").user-nav_link_active=item
					else
						a(href="#" class="user-nav_link")=item
	.nav					
		.container.clearfix
			ul.main-nav
				-var nav = ['Планшеты','Мобильные телефоны','Mp3 плееры','Персональыне компьютеры','Ноутбуки','Аксуссуары','Бытовая техника']
				each item,i in nav
					li.main-nav-item
						if i == 1
							a(href="index.html" class="main-nav_link").main-nav_link_active=item
						else
							a(href="#" class="main-nav_link")=item	



							
					
		

					